<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="in.khatri.rahul.kotlinfirst">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
            android:allowBackup="true"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".activity.NotesAddActivity">
        </activity>
        <activity android:name=".activity.NotesActivity">
        </activity>
        <activity android:name=".activity.RestaurantDetailActivity">
        </activity>
        <activity android:name=".activity.RestaurantActivity"/>
        <activity android:name=".activity.ZooDetailActivity"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".activity.Test"/>
        <activity
                android:name=".activity.TicTacToy"
                android:screenOrientation="portrait"/>
        <activity android:name=".activity.CalculatorActivity"/>
        <activity android:name=".activity.PokemonGameActivity"/>

        <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="AIzaSyDqX5_UHz0a5R7juD8HTOvAIMXjscLxpS0"/>

        <activity android:name=".activity.ZooActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
    </application>

</manifest>